@import "remove.css";
body {
  background: #f6f6f6;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 1170px;
  max-width: calc(100% - 40px);
  height: 100%;
  margin: 0 auto;
}
